/* Center the text input fields */
input[type=text],
input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Add a gradient background */
body {
    background: linear-gradient(to bottom right, #1a237e, #3949ab);
}

/* Center the login box */
.login-box {
    margin: auto;
    width: 300px;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    /* text-align: center; */
    box-shadow: 0px 0px 10px #888;
}

/* Style the login button */
.login-button {
    background-color: #4caf50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

/* Style error messages */
.error-message {
    color: red;
}