/* Center the text input fields */
input[type=text],
input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Add a gradient background */
body {
    background: linear-gradient(to bottom right, #1a237e, #3949ab);
}

/* Center the login box */
.login-box {
    margin: auto;
    width: 300px;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    /* text-align: center; */
    box-shadow: 0px 0px 10px #888;
}

/* Style the login button */
.login-button {
    background-color: #4caf50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

/* Style error messages */
.error-message {
    color: red;
}

/* Style loading */
.loading-container {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 9999;
}

.loading-container.show {
    display: flex;
}

.loader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.loader img {
    width: 60px;
    height: 60px;
}